<%if(isLazyDay.length > 0){%>
    <div class="bg-green-500 border border-black w-fit h-fit p-2 text-black font-semibold flex flex-row items-center justify-center mb-2">
        <p class="text-black font-semibold"><%=isLazyDay%></p>
    </div>
<%}%>