<%if(notWorkInSunday.length > 0){%>
<div class="bg-sky-500 border border-black w-fit h-fit p-2 text-black font-semibold flex flex-row items-center justify-center mb-2">
    <p class="text-black font-semibold"><%-notWorkInSunday%></p>
</div>
<%}%>